* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
}

nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--title, .nav--option {
  margin: 0;
}

.nav--title {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--option {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon{
  height: 50px;
  margin-right: 7px;
}